<navigation content="vm.listaApis.listaApis"></navigation>

<div class="container-fluid" id="detalle">
    </br>
    </br>
    <div class="text-center">
        <h2>{{vm.cabecera.titulo}}</h2>
        <h4>{{vm.cabecera.subtitulo}}</h4>
    </div>
    <div class="row" ng-controller="apiCtrl">
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>{{vm.imagen.cabecera}}</h1>
                </div>
                <div class="panel-body">
                    <p><strong>{{vm.imagen.descripcion.linea1}}</strong></p>
                    <p><strong>{{vm.imagen.descripcion.linea2}}</strong></p>
                    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{vm.formError}}</div>
                    <form class="form-horizontal" ng-submit="vm.onSubmit()" method="post" role="form">
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-6 control-label" for="control1">Comunidad</label>
                            <div class="col-xs-12 col-sm-5">
                                <select ng-init="vm.formData.comunidad=''" ng-model="vm.formData.comunidad" class="form-control input-sm" name="control1">
                                    <option value=""> </option>
                                    <option ng-repeat="comunidad in vm.comunidades" value="{{comunidad.Id}}">{{comunidad.Nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-6 control-label" for="control2">Sexo</label>
                            <div class="col-xs-12 col-sm-3">
                                <select ng-init="vm.formData.sexo=''" ng-model="vm.formData.sexo" class="form-control input-sm" name="control2">
                                    <option value="">Todos</option>
                                    <option ng-repeat="sexo in vm.sexos" value="{{sexo.Id}}">{{sexo.Nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-10 col-sm-6 control-label" for="periodos">Número de años</label>
                            <div class="col-xs-12 col-sm-3">
                                <input ng-init="vm.formData.periodo = '10'" ng-model="vm.formData.periodo" type="range" min="5" max="15" step="1" value="10" name="periodos" oninput="document.getElementById('periodo').innerHTML = this.value"/>
                                <label id="periodo">10</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg pull-right">Enviar a INE</button>
                    </form>
                </div>
                <hr width="100%"/>
                <h3>Opiniones</h3>
                <span ng-repeat="recomendacion in vm.recomendaciones">
                    <strong>
                        {{recomendacion.autor}}&nbsp;&nbsp;
                        <small>{{ recomendacion.creado | date : 'd MMMM yyyy' }}</small>
                    </strong>
                    <p>{{recomendacion.comentario}}&nbsp;&nbsp;</p>
                    <p class="estrellas" estrellas puntuacion="recomendacion.puntuacion"></p>
                </span>
                <div class="panel-footer">
                    <h3>{{vm.imagen.pie}}</h3>
                    <p>Media:&nbsp;<span class="estrellas" estrellas puntuacion="vm.imagen.puntuacion"></span></p>   
                    <a ng-click="vm.popupRecomendacionForm()" class="btn btn-lg">Valorar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>{{vm.formulario.cabecera}}</h1>
                </div>
                <div class="panel-body">
                    <div>
                        <img class="center-block" src={{vm.formulario.descripcion.linea1}} alt="" width="400" height="300"/>
                    </div>
                    <br/>
                    <p><strong>{{vm.formulario.descripcion.linea2}}</strong></p>
                </div>
                <div class="panel-footer">
                    <h3>{{vm.formulario.pie}}</h3>
                    <a class="btn btn-lg" href="/#"" seleccionado = document.getElementById("seleccionar");
                    var valor = seleccionado.options[seleccionado.selectedIndex].value;>Volver</a>
                </div>
            </div>
        </div>
    </div>
    <footer-generico></footer-generico>
</div>